.input-group {
  display: flex;
  align-items: center;
  width: 25rem;
  justify-content: space-between;
}

@media only screen and (max-device-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group label {
    align-self: flex-start;
    padding: 0.5rem;
    margin-left: 1.5rem;
  }

  .input-field {
    align-self: flex-start;
    margin-left: 1.5rem !important;
  }
}

input:focus::placeholder {
  color: transparent;
}

.input-field {
  width: 12rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0;
  border-bottom: 1px solid #eee;
}

.errors-container {
  height: 1rem;
  font-size: 12px;
  color: red;
  text-align: right;
}
